<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated vc -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="vcchart.presentation.VcchartModelWizardID"
            name="%_UI_VcchartModelWizard_label"
            class="vcchart.presentation.VcchartModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VcchartModelFile.gif">
         <description>%_UI_VcchartModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated vc -->
      <editor
            id="vcchart.presentation.VcchartEditorID"
            name="%_UI_VcchartEditor_label"
            icon="icons/full/obj16/VcchartModelFile.gif"
            extensions="vcchart"
            class="vcchart.presentation.VcchartEditor"
            contributorClass="vcchart.presentation.VcchartActionBarContributor">
      </editor>
   </extension>

</plugin>
